@{
    ViewBag.Title = "Dial customers and future customers without any fingers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our Auto-Dialer will increase call volumes to contacts up to 60%</p>
